{% extends "vista.html" %}

{% block titulo %} Formulario Json {% endblock %}

{% block contenido %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "error" %}
            <div class="modal fade show " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: block;" aria-hidden="true">
                <div class="modal-dialog ">
                    <div class="modal-content bg-danger text-white">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Error!</h5>
                            <button type="button" class="btn-close" onclick="closeModal()"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {{message}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger border-white" onclick="closeModal()"
                            data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="modal fade show " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: block;" aria-hidden="true">
                <div class="modal-dialog ">
                    <div class="modal-content bg-primary text-white">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Realizado!</h5>
                            <button type="button" class="btn-close" onclick="closeModal()"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {{message}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary border-white" onclick="closeModal()"
                            data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <form method="get" class=" p-5 d-flex justify-content-center">
        {% csrf_token %}
        <div class="card" style="width: 30rem;">

            <div class="card-body">
                <h2 class="card-title">Buscar vehiculo</h2>

                <h5 class="mt-4"><label for="placa">Placa:</label></h5>
                <input class="form-control" type="text" name="placa"/>

            </div>
          <div class=" p-2 d-flex justify-content-center">
               <input class="btn btn-primary" style="background-color:#FFFF00;" type="submit" value="Buscar Vehiculo">
          </div>
        </div>
    </form>

    <script>
        function closeModal(){
            exampleModal = document.getElementById('exampleModal')
            exampleModal.remove()
        }
    </script>
{% endblock %}