{% extends "vista.html" %}

{% block titulo %} Formulario Json {% endblock %}

{% block contenido %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "error" %}
            <div class="modal fade show " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: block;" aria-hidden="true">
                <div class="modal-dialog ">
                    <div class="modal-content bg-danger text-white">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Error!</h5>
                            <button type="button" class="btn-close" onclick="closeModal()"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {{message}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger border-white" onclick="closeModal()"
                            data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="modal fade show " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: block;" aria-hidden="true">
                <div class="modal-dialog ">
                    <div class="modal-content bg-primary text-white">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Realizado!</h5>
                            <button type="button" class="btn-close" onclick="closeModal()"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {{message}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary border-white" onclick="closeModal()"
                            data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <div id="alerts"></div>

    <form method="post" class=" p-5 d-flex justify-content-center">
        {% csrf_token %}
        <div class="card" style="width: 30rem;">

            <div class="card-body">
                <h2 class="card-title">Ingresar vehiculo</h2>
                <h5 class="mt-4"><label for="Marca">Marca:</label></h5>
                <input class="form-control" type="text" name="Marca"/>

              <h5 class="mt-4"><label for="placa">Placa:</label></h5>
              <input class="form-control" type="text" name="placa"/>

              <h5 class="mt-4"><label for="modelo">Modelo:</label></h5>
              <input class="form-control" type="text" name="Modelo"/>

              <h5 class="mt-4"><label for="tecnomecanica">Tecnomecanica:</label></h5>
              <input class="form-control" type="text" name="tecnomecanica"/>

              <h5 class="mt-4"><label for="date_tecnomecanica">Fecha de Vencimiento de la Tecnomecanica:</label></h5>
              <input class="form-control" type="date" name="date_tecnomecanica"/>

              <h5 class="mt-4"><label for="soat">SOAT:</label></h5>
              <input class="form-control" type="text" name="soat"/>

              <h5 class="mt-4"><label for="date_soat">Fecha de Vencimiento del SOAT:</label></h5>
              <input class="form-control" type="date" name="date_soat"/>
          </div>
          <div class=" p-2 d-flex justify-content-center">
               <input class="btn btn-primary" style="background-color:#FFFF00;" type="submit" value="Registrar Vehiculo">
          </div>
        </div>
  </form>
<script>
        function closeModal(){
            document.getElementById('exampleModal').remove()
        }
</script>
{% endblock %}